$width-toggle: 900px;
$background: #0d0d30;
$foreground: aliceblue;
/* $accent: #11aa88; */
$accent: #00ac57;
$accent2: #df460f;
$link: #dd1188;

$info: #25d6d3;
$error: #f13114;

@font-face {
    font-family: "HK Grotesk";
    src:url("../fonts/HKGrotesk-Regular.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: "HK Grotesk";
    src:url("../fonts/HKGrotesk-Italic.otf")format("opentype");
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "HK Grotesk";
    src:url("../fonts/HKGrotesk-Bold.otf")format("opentype");
    font-display: swap;
    font-style: bold;
}
@font-face {
    font-family: "HK Grotesk Thin";
    src:url("../fonts/HKGrotesk-Thin.otf")format("opentype");
    font-display: swap;
}
@font-face {
    font-family: "HK Grotesk Light";
    src:url("../fonts/HKGrotesk-Light.otf")format("opentype");
    font-display: swap;
}


@import 'stars.scss';

html {
    margin: 0;
    height: 100%;
    line-height: 1.75;
    font-size: 16px;
    /* overflow: hidden; */
}

body {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    color: $foreground;
    font-family: "HK Grotesk", sans-serif;
    height: 100%;
    perspective: 340px;
    background: #090a1f;
    background: radial-gradient(ellipse at center, $background 0%, #090A0F 100%);
    background-attachment: fixed;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.alert {
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: 0.8rem 1rem;
    &:empty {
        display: none;
    }
    &.alert-info {
        color: $info;
        border: 1px solid $info;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.2rem $info;
        text-shadow: 0 0 0.1rem $info;
    }
    &.alert-error {
        color: $error;
        border: 1px solid $error;
        border-radius: 0.2rem;
        box-shadow: 0 0 0.2rem $error;
        text-shadow: 0 0 0.1rem $error;
    }
}

a {
    color: $link;
}

main {
    flex-grow: 1;
}
#homepage {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h1 {
        color: $accent;
        font-size: 8rem;
        text-align: center;
        letter-spacing: 2rem;
        text-indent: 2rem; // Because browsers have a creative interpration of letter-spacing + center
        text-shadow: 0 0 1.5rem $accent;
        margin: 0;
        font-family: "HK Grotesk Thin", sans-serif;
        @media screen and (max-width: $width-toggle) {
            text-indent: 0;
            font-size: 5rem;
            letter-spacing: 0;
        }
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    p {
        font-size: 1.3rem;
        text-align: center;

        &#abstract {
            font-size: 2rem;
            font-variant: small-caps;
            margin-top: 0;
            margin-bottom: 0;

            background: linear-gradient(white, $background);
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &#desc {
            font-style: italic;
            em {
                font-style: normal;
                font-weight: bold;
                color: $accent;
            }
        }
    }

    img {
        max-width: 100%;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0.0));
        // border: 1px solid red;
        z-index: 1000;
    }

    #buttons {
        z-index: 100;
        flex-grow: 1;
        text-align: center;

        a {
            display: inline-block;
            margin: auto;
            text-align: center;
            text-decoration: none;
            border: 1px solid $link;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            padding: 1.0rem 2rem;
            margin: 2rem;
            @media screen and (max-width: $width-toggle) {
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                margin: 0.3rem;
            }

            &#register {
                background-color: $link;
                color: $background;
                &:hover {
                    box-shadow: 0 0 0.8rem $link;
                    transition-duration: 0.2s;
                }
            }

            &#signin, &#settings {
                &:hover {
                    box-shadow: 0 0 0.5rem $link;
                    text-shadow: 0 0 1rem $link;
                    transition-duration: 0.2s;
                }
            }
        }
    }
}
#prices {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    // width: 100%;
    div {
        box-shadow: 0 0 0.3rem $accent;
        text-align: center;
        padding: 0 2rem;
        border: 1px solid $accent;
        width: 8rem;
        font-size: 1.3rem;

        &:first-child {
            border-right: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        h3 {
            margin: 0;
            margin-bottom: 1rem;
        }
        p {
            margin: 0;
            font-weight: bold;
            font-size: 1.5rem;
            sup {
                font-weight: normal;
                font-size: 1rem;
            }

            &#save {
                font-weight: normal;
                font-size: 0.4rem;
                font-style: italic;
                color: #ccc;
            }
        }
    }
}

#plans {
    width: 100%;
    /* height: 100%; */
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    #prices {
        div {
            @media screen and (max-width: $width-toggle) {
                padding: 0.8rem;
            }
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 0.8rem $accent;
                h3 {text-shadow: 0 0 0.6rem $accent;}
                p {text-shadow: 0 0 0.8rem $foreground;}
            }
        }
    }
}

footer {
    font-family: "HK Grotesk Light";
    #links {
        display: flex;
        justify-content: center;

        a {
            margin: 2rem;
            @media screen and (max-width: $width-toggle) {
                margin: 0.3rem;
            }
        }
    }
    #c {
        font-size: 0.8rem;
        color: #999;
        text-align: center;
    }
}

a.home {
    /* display: block; */
    font-size: 2rem;
    color: $link;
    text-decoration: none;

    &:hover {
    }
}

#notices {
    h1, h2, h3, h4, h5, h6 {
        color: $accent;
    }

    #contact {
        font-size: 1.2rem;
        a {
            font-family: monospace;
        }
    }
}

a:hover {
    text-shadow: 0 0 1rem $link;
}

.danger {
    color: $error;
}

h1, h2, h3 {
    color: $accent;
    text-shadow: 0 0 1rem $accent;
}
form {
    max-width: 25rem;
    &.centered {
        margin: auto;
    }
    label {
        margin-top: 2rem;
        font-weight: bold;
        display: block;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        color: $foreground;
        background-color: $background;
        padding: 0.5rem;
        border: 1px solid $link;
        border-radius: 3px;

        &:focus {
            box-shadow: 0 0 0.7rem $link;
        }
    }
    .invalid-feedback{
        display: block;
        color: $error;
        font-weight: bold;
        font-style: italic;
        text-shadow: 0 0 0.3rem $error;
    }

    button {
        width: 100%;
        font-family: "HK Grotesk", sans-serif;
        cursor: pointer;
        display: block;
        padding: 1rem 2rem;
        margin: auto;
        margin-top: 2rem;
        background-color: transparent;
        color: $accent;
        border: 1px solid $accent;
        border-radius: 3px;
        font-size: 1.3rem;
        &:hover {
            box-shadow: 0 0 0.7rem $accent;
        }
    }

    p {
        text-align: center;
    }
}
h1 {
    font-size: 2rem;
}

#settings {
    display: flex;
    @media screen and (max-width: $width-toggle) {
        flex-direction: column;
    }
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    #account {
        @media screen and (max-width: $width-toggle) { width: 100%;}
        flex-grow: 1;
        .checkbox {
            align-items: baseline;
            margin-bottom: 1rem;
            label, input {
                margin: 0;
                display: inline;
            }
            label {
                flex-grow: 1;
            }
            input {
                width: auto;
            }
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    #billing {
        flex-grow: 1;
        a {
            display: block;
            font-size: 1.0rem;
            margin-bottom: 1rem;
        }
    }
}
