<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hyades</title>
    <!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div id="main">
      <!-- <div id="stars3"></div> -->
      <main role="main" class="container">
        <!-- <div class="alert alert-info" role="alert">A big fat info</div> -->
        <!-- <div class="alert alert-error" role="alert">A big fat error</div> -->
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
        <div class="alert alert-error" role="alert"><%= get_flash(@conn, :error) %></div>
        <%= @inner_content %>
      </main>
      <footer>
        <div id="links">
          <%= link "Contact", to: Routes.page_path(@conn, :contact) %>
          <%= link "Legal notices", to: Routes.page_path(@conn, :legal_notices) %>
          <%= link "Terms & Conditions", to: Routes.page_path(@conn, :conditions) %>
          <%= link "Github", to: "https://github.com/delehef/hyades/" %>
        </div>
        <div id="c">© 2020 Hyades, by Delehelle Ingénierie</div>
      </footer>
    </div>
  </body>
</html>
